body{

    /*border-top-style: groove;
    border-right-style: groove;
    border-bottom-style: groove;
    border-left-style: groove;
    border-color: white; */
	
	background-color: black;

}

p{
	color: white;
	text-align: center;
	font-family: "Ariel Black";
	font-size: 50px;


}